<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">List des Ligues</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID Ligue</th>
                    <th>Nom du ligue</th>
                    <th>Pays de ligne</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for league in leagues %}
                <tr>
                    <td>{{ league.league_key }}</td>
                    <td>{{ league.league_name }}</td>
                    <td>{{ league.pays_league }}</td>
                    <td><a href="{{ url_for('team', league_id=league.league_key) }}" class="btn btn-primary">Info</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
