<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Liste des équipes</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID Team</th>
                    <th>Nom de l'équipe</th>
                    <th>Logo</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                <tr>
                    <td>{{ team.team_key }}</td>
                    <td>{{ team.team_name}}</td>
                    <td><img src="{{ team.team_logo }}" alt="Logo" style="width: 50px; height: auto;"></td>
                    <td><a href="{{ url_for('team_details', idTeam=team.team_key) }}" class="btn btn-primary">Info</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
